@import 'tailwindcss';

@theme {
  --color-primary: hsl(322, 46%, 70%);
  --color-secondary: hsl(199, 49%, 55%);

  --color-alternate: hsl(323, 22%, 47%);
  --color-grey: hsl(208, 88%, 83%);
  --color-bright: hsl(180, 100%, 97%);
  --color-dark: hsl(237, 43%, 10%);
  --color-dark-red: hsl(288, 43%, 9%);
}

@layer components {
  .content-view {
    --max-width: 48rem;

    width: min(var(--max-width), 100% - (--spacing(2) * 2));
    margin-inline: auto;
  }

  @media (min-width: 48rem) {
    .content-view {
      --max-width: 87.5rem;
    }
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
