@import 'tailwindcss';

@theme {
  --color-primary: hsl(322, 46%, 70%);
  --color-secondary: hsl(199, 49%, 55%);

  --color-alternate: hsl(323, 22%, 47%);
  --color-grey: hsl(208, 88%, 83%);
  --color-bright: hsl(180, 100%, 97%);
  --color-dark: hsl(237, 43%, 10%);
  --color-dark-red: hsl(288, 43%, 9%);

  --shadow-focus-glow: 0 0 8px 1px var(--color-primary);
}

@layer base {
  body {
    @apply text-base md:text-[1.125rem];
    font-family: 'Roboto Mono', 'Helvetica', 'Arial', 'sans-serif';
  }

  a {
    color: var(--color-primary);
    text-decoration: none;
    transition: var(--transition-duration) ease-out;
  }

  a:hover {
    color: var(--color-primary);
    text-shadow: 0 0 8px var(--color-grey);
  }
}

@layer components {
  .content-view {
    --max-width: 48rem;
    --spacing-size: 1.5rem;

    width: min(var(--max-width), 100% - (var(--spacing-size) * 2));
    margin-inline: auto;
  }

  @media (min-width: 48rem) {
    .content-view {
      --max-width: 87.5rem;
    }
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
